button {
  cursor: pointer;
}

.card-stl {
  box-shadow: 5px 5px;
}

.card-stl:hover {
  box-shadow: 0px 0px;
  transition: all .3s;
  translate: 3px 5px 2px;

}

.dark .card-stl {
  box-shadow: none;

}
.dark .card-stl:hover {
  box-shadow: none;
  translate: 0px 0px 0px;
}

.button-stl {
  box-shadow: 3px 3px;
}

.button-stl:hover {
  box-shadow: 1px 1px;
  transition: all .3s;
  translate: 2px 2px 2px;
}

.button-stl:active {
  box-shadow: 0px 0px;
  transition: all .2s;
  translate: 2px 2px 2px;
}

@media (max-width: 768px) {
  .card-stl,
  .card-stl:hover,
  .button-stl,
  .button-stl:hover,
  .button-stl:active {
    box-shadow: none;
    translate: 0 0 0;
  }
}
